<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thunderbolt.android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".vista.InicioActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vista.CrearProyectoActivity"
            android:noHistory="true" />
        <activity
            android:name=".vista.ListaDeEnums"
            android:noHistory="true" />
        <activity
            android:name=".vista.UsuariosActivity"
            android:label="@string/title_activity_usuarios"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vista.CrearUsuarioActivity"
            android:noHistory="true" />
        <activity android:name=".vista.RealizarCalculosActivity"
            android:noHistory="true">

        </activity>
        <activity android:name=".vista.NumeroEventosPeligrososActivity"
            android:noHistory="true"></activity>
    </application>

</manifest>